<a href="https://colab.research.google.com/github/Phimphakanph22/BasicProg_DataViz65/blob/main/Data_Preparation%F0%9F%A4%A2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [122]:
#‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏° google drive 
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [123]:
#‡πÄ‡∏Ç‡πâ‡∏≤‡πÑ‡∏õ path ‡πÉ‡∏ô google drive
import os
os.chdir('/content/gdrive/MyDrive/Google Data studio/Data/')

!pwd #‡πÄ‡∏ä‡πá‡∏Ñ paht ‡∏ó‡∏µ‡πà‡∏Å‡∏≥‡∏•‡∏±‡∏á‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏≠‡∏¢‡∏π‡πà

/content/gdrive/MyDrive/Google Data studio/Data

In [124]:
!ls

opendata_eating_score.csv  opendata_project.csv
opendata_living_score.csv  opendata_unittype.csv

# üîóDatabase
[Open Data Free!! By Baania (Thailand)](https://gobestimate.com/data)


```
opendata_project.csv
```
[*Residental Project Data* ](https://gobestimate.com/data-detail/Residental-Project-Data)
 ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó ‡∏à‡∏±‡∏î‡∏™‡∏£‡∏£ ‡∏ú‡∏π‡πâ‡∏û‡∏±‡∏í‡∏ô‡∏≤ ‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£ ‡πÅ‡∏•‡∏∞‡∏™‡∏¥‡πà‡∏á‡∏≠‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏∞‡∏î‡∏ß‡∏Å ‡∏Ç‡∏≠‡∏á‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢ 
```
opendata_unittype.csv  
```
[*Residental Unittype Data*](https://gobestimate.com/data-detail/Residental-Unittype-Data)
‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î‡πÅ‡∏ö‡∏ö‡∏ö‡πâ‡∏≤‡∏ô‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó ‡∏à‡∏±‡∏î‡∏™‡∏£‡∏£ ‡∏à‡∏≤‡∏Å‡∏Å‡∏≤‡∏£‡∏£‡∏ß‡∏ö‡∏£‡∏ß‡∏°‡πÇ‡∏î‡∏¢ ‡∏ö‡∏≤‡πÄ‡∏ô‡∏µ‡∏¢ ‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏ ‡∏ï‡πâ‡∏≠‡∏á‡πÉ‡∏ä‡πâ‡∏£‡πà‡∏ß‡∏°‡∏Å‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• "Residental Project Data"
```
opendata_eating_score.csv
```
[*Eating Score By Location*](https://gobestimate.com/data-detail/Eating-Score-By-Location)
‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô‡∏Ç‡∏≠‡∏á‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡∏ï‡πà‡∏≤‡∏á‡πÜ ‡∏ã‡∏∂‡πà‡∏á‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡∏à‡∏≤‡∏Å‡∏õ‡∏±‡∏à‡∏à‡∏±‡∏¢‡∏î‡πâ‡∏≤‡∏ô‡∏£‡∏≤‡∏Ñ‡∏≤ ‡∏î‡πâ‡∏≤‡∏ô‡∏Ñ‡∏∏‡∏ì‡∏†‡∏≤‡∏û‡∏£‡πâ‡∏≤‡∏ô/‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£ ‡πÅ‡∏•‡∏∞‡∏î‡πâ‡∏≤‡∏ô‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏•‡∏≤‡∏Å‡∏´‡∏•‡∏≤‡∏¢‡∏Ç‡∏≠‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÉ‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà ‡πÇ‡∏î‡∏¢‡∏à‡∏∞‡πÅ‡∏ö‡πà‡∏á‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡∏≠‡∏≠‡∏Å‡πÄ‡∏õ‡πá‡∏ô ‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô‡∏ä‡πà‡∏ß‡∏á‡πÄ‡∏ä‡πâ‡∏≤‡∏Å‡∏±‡∏ö‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô‡∏ä‡πà‡∏ß‡∏á‡∏Ñ‡πà‡∏≥
```
opendata_living_score.csv
```
[*Living Score By Location*](https://gobestimate.com/data-detail/Living-Score-By-Location)
‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏Å‡∏≤‡∏£‡πÄ‡∏î‡∏¥‡∏ô‡∏ó‡∏≤‡∏á‡πÄ‡∏Ç‡πâ‡∏≤‡∏ñ‡∏∂‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏ó‡∏µ‡πà‡πÉ‡∏ä‡πâ‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï‡∏õ‡∏£‡∏∞‡∏à‡∏≥‡∏ß‡∏±‡∏ô‡∏Ç‡∏≠‡∏á‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡∏ï‡πà‡∏≤‡∏á‡πÜ ‡πÇ‡∏î‡∏¢‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏à‡∏≤‡∏Å 3 ‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏Å‡∏≤‡∏£‡πÄ‡∏î‡∏¥‡∏ô‡∏ó‡∏≤‡∏á ‡πÅ‡∏•‡∏∞ 5 ‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πâ‡∏≤‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏Å‡∏≤‡∏£‡∏î‡∏≥‡πÄ‡∏ô‡∏¥‡∏ô‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏ß‡∏±‡∏ô

# üîóOpen CSV file ü´£

In [125]:
#open CSV file 
import pandas as pd

In [126]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown nomber of (row, column)
opendata_project.head(3)

(23913, 46)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,4809.0,project_4270,Paholyothin Park Condominium,‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô ‡∏õ‡∏≤‡∏£‡πå‡∏Ñ ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢‡∏°,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,3650000.0,developer_10510,NaN,...,1.0,1.0,NaN,1.0,2017-02-27 16:46:08,2003-12-31 07:00:00,2021-03-12 12:30:04,baania,https://baania.com/th/project/‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô-‡∏õ‡∏≤‡∏£‡πå‡∏Ñ-‡∏Ñ...,2022-09-30
1,20964.0,project_15158,The Chill Village,‡πÄ‡∏î‡∏≠‡∏∞ ‡∏ä‡∏¥‡∏•‡∏•‡πå ‡∏ß‡∏¥‡∏•‡πÄ‡∏•‡∏à,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2450000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2019-01-09 10:01:47,1970-01-02 07:00:00,2020-12-04 10:34:48,baania,https://baania.com/th/project/‡πÄ‡∏î‡∏≠‡∏∞-‡∏ä‡∏¥‡∏•‡∏•‡πå-‡∏ß‡∏¥‡∏•‡πÄ‡∏•...,2022-09-30
2,21086.0,project_9490,Diya Valley Sriracha,‡∏î‡∏µ‡∏ç‡πà‡∏≤ ‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå ‡∏®‡∏£‡∏µ‡∏£‡∏≤‡∏ä‡∏≤,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",...,1.0,0.0,1.0,1.0,2017-09-06 13:01:47,1970-01-02 07:00:00,2020-12-04 10:36:24,baania,https://baania.com/th/project/‡∏î‡∏µ‡∏ç‡πà‡∏≤-‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå-‡∏®‡∏£...,2022-09-30

In [127]:
opendata_unittype = pd.read_csv('opendata_unittype.csv')
print(opendata_unittype.shape) 
opendata_unittype.head(3)

(43385, 28)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day
0,2032,unittype_19988,project_7861,1 Bedroom,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,31.0,3002000.0,...,NaN,NaN,NaN,NaN,NaN,2022-06-16 14:30:02,2022-06-16 14:15:26,baania,https://baania.com/th/project/‡πÑ‡∏•‡∏ü‡πå-‡∏£‡∏±‡∏ä‡∏î‡∏≤‡∏†‡∏¥‡πÄ‡∏©‡∏Å-...,2022-09-30
1,34437,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,NaN,480.0,1700000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:20,2020-10-14 22:19:25,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏≤‡πÇ‡∏Æ‡∏°-‡∏≠‡∏∏‡∏î‡∏£‡∏ò‡∏≤‡∏ô‡∏µ-...,2022-09-30
2,29002,unittype_18897,project_6287,Studio,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,27.0,400000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:33:39,2021-07-30 12:49:12,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏û‡∏•-‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢...,2022-09-30

In [128]:
opendata_eating_score = pd.read_csv('opendata_eating_score.csv')
print(opendata_eating_score.shape) 
opendata_eating_score.head(3)

(554, 20)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,2,4001,HUAI KHWANG,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,4000,HUAI KHWANG,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,66.0,72.0,49.0,92.0,75.0,68.0,54.0,94.0,baania,2022-08-31
1,397,2632,THEP KRASATTRI,‡πÄ‡∏ó‡∏û‡∏Å‡∏£‡∏∞‡∏©‡∏±‡∏ï‡∏£‡∏µ,2630,THALANG,‡∏ñ‡∏•‡∏≤‡∏á,2616,Phuket,‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï,35.0,37.0,30.0,45.0,38.0,28.0,28.0,51.0,baania,2022-08-31
2,76,3509,PAK NAM,‡∏õ‡∏≤‡∏Å‡∏ô‡πâ‡∏≥,3499,MUEANG SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,3498,Samut Prakan,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,70.0,84.0,55.0,79.0,65.0,72.0,57.0,67.0,baania,2022-08-31

In [129]:
opendata_living_score = pd.read_csv('opendata_living_score.csv')
print(opendata_living_score.shape) 
opendata_living_score.head(3)

(709, 28)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,source,day
0,634,3410,SANO LOI,‡πÇ‡∏™‡∏ô‡∏•‡∏≠‡∏¢,3402,BANG BUA THONG,‡∏ö‡∏≤‡∏á‡∏ö‡∏±‡∏ß‡∏ó‡∏≠‡∏á,3372,Nonthaburi,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,...,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0,baania,2022-09-30
1,619,3976,TALAT NOI,‡∏ï‡∏•‡∏≤‡∏î‡∏ô‡πâ‡∏≠‡∏¢,3973,SAMPHANTHAWONG,‡∏™‡∏±‡∏°‡∏û‡∏±‡∏ô‡∏ò‡∏ß‡∏á‡∏®‡πå,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,...,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0,baania,2022-09-30
2,284,4669,BAN KAO,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏Å‡πà‡∏≤,4663,PHAN THONG,‡∏û‡∏≤‡∏ô‡∏ó‡∏≠‡∏á,4616,Chon Buri,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ,...,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0,baania,2022-09-30

# üîóInformation from dataset

1.   ‡∏≠‡∏¢‡∏≤‡∏Å‡πÑ‡∏î‡πâ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡πÉ‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö google map 
2.   ‡πÄ‡∏°‡∏∑‡∏≠‡∏Ñ‡∏•‡∏¥‡∏Å ‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£ ‡∏´‡∏ô‡∏∂‡πà‡∏á‡πÜ ‡πÅ‡∏•‡πâ‡∏ß‡∏à‡∏∞‡∏•‡∏¥‡∏á‡∏Ñ‡πå‡πÑ‡∏õ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÅ‡∏ö‡∏ö‡∏ö‡πâ‡∏≤‡∏ô‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏ô‡∏±‡πâ‡∏ô‡πÜ ‡∏û‡∏£‡πâ‡∏≠‡∏°‡∏Å‡∏±‡∏ö‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô

# üîóData Cleaning

## üìëopendata_project table

In [130]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown nomber of (row, column)
opendata_project.head(3)

(23913, 46)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,4809.0,project_4270,Paholyothin Park Condominium,‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô ‡∏õ‡∏≤‡∏£‡πå‡∏Ñ ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢‡∏°,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,3650000.0,developer_10510,NaN,...,1.0,1.0,NaN,1.0,2017-02-27 16:46:08,2003-12-31 07:00:00,2021-03-12 12:30:04,baania,https://baania.com/th/project/‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô-‡∏õ‡∏≤‡∏£‡πå‡∏Ñ-‡∏Ñ...,2022-09-30
1,20964.0,project_15158,The Chill Village,‡πÄ‡∏î‡∏≠‡∏∞ ‡∏ä‡∏¥‡∏•‡∏•‡πå ‡∏ß‡∏¥‡∏•‡πÄ‡∏•‡∏à,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2450000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2019-01-09 10:01:47,1970-01-02 07:00:00,2020-12-04 10:34:48,baania,https://baania.com/th/project/‡πÄ‡∏î‡∏≠‡∏∞-‡∏ä‡∏¥‡∏•‡∏•‡πå-‡∏ß‡∏¥‡∏•‡πÄ‡∏•...,2022-09-30
2,21086.0,project_9490,Diya Valley Sriracha,‡∏î‡∏µ‡∏ç‡πà‡∏≤ ‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå ‡∏®‡∏£‡∏µ‡∏£‡∏≤‡∏ä‡∏≤,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",...,1.0,0.0,1.0,1.0,2017-09-06 13:01:47,1970-01-02 07:00:00,2020-12-04 10:36:24,baania,https://baania.com/th/project/‡∏î‡∏µ‡∏ç‡πà‡∏≤-‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå-‡∏®‡∏£...,2022-09-30

### Select columns

In [131]:
opendata_project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project',
       'day'],
      dtype='object')

In [132]:
opendata_project = opendata_project[['project_id',  'name_en',  'propertytype_id',
       'propertytype_name_en', 'price_min',
       'developer_id', 'developer_name_en',  'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
        'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security']]

In [133]:
opendata_project.head()

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,developer_id,developer_name_en,latitude,longitude,neighborhood_id,...,count_parking,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
0,project_4270,Paholyothin Park Condominium,2,Condo,3650000.0,developer_10510,NaN,13.786388,100.553931,B1161,...,NaN,96.0,2.0,NaN,1.0,NaN,1.0,1.0,NaN,1.0
1,project_15158,The Chill Village,3,Townhome,2450000.0,developer_10510,NaN,16.209059,103.288288,NaN,...,NaN,125.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",13.173645,100.954876,B0752,...,NaN,195.0,4.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
3,project_13601,Baan Rungrawe,1,Detached House,2750000.0,developer_10510,NaN,8.096150,98.309995,NaN,...,NaN,32.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,project_12398,Town Plus Ladprao 101,3,Townhome,4600000.0,developer_2417,"PLUS PROPERTY CO., LTD.",13.797585,100.633945,B1073,...,NaN,114.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0

### Missing/Null Checking

In [134]:
opendata_project.isnull().any()

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
price_min                  True
developer_id              False
developer_name_en          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
dtype: bool

In [135]:
opendata_project.dtypes

project_id                 object
name_en                    object
propertytype_id            object
propertytype_name_en       object
price_min                  object
developer_id               object
developer_name_en          object
latitude                  float64
longitude                 float64
neighborhood_id            object
neighborhood_name_en       object
subdistrict_id            float64
subdistrict_name_en        object
subdistrict_name_th        object
district_id               float64
district_name_en           object
district_name_th           object
province_id               float64
province_name_en           object
province_name_th           object
zipcode                   float64
count_elevator             object
count_elevator_service     object
count_floor                object
count_parking              object
count_unit                 object
count_unittype            float64
facility_clubhouse        float64
facility_fitness          float64
facility_meeting          float64
facility_park             float64
facility_playground       float64
facility_pool             float64
facility_security         float64
dtype: object

#### ‚á® dropna

In [136]:
# ' price_min ' ‡∏£‡∏≤‡∏Ñ‡∏≤‡∏ï‡πà‡∏≥‡∏™‡∏∏‡∏î‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£
print(len(opendata_project[opendata_project['price_min'].isnull()])) #we used dropna()
opendata_project = opendata_project.dropna(subset=['price_min'])

109

In [137]:
# ' longitude '
opendata_project[opendata_project['longitude'].isnull()]

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,developer_id,developer_name_en,latitude,longitude,neighborhood_id,...,count_parking,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
168,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3656.0,‡∏ö‡∏≤‡∏á‡πÇ‡∏û‡∏ò‡∏¥‡πå‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,3647,‡∏™‡∏≤‡∏°‡πÇ‡∏Ñ‡∏Å,3599,Pathum Thani,12160.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12097,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3611.0,‡∏ö‡πâ‡∏≤‡∏ô‡∏â‡∏≤‡∏á,3600,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,3599,Pathum Thani,12000.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15944,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3634.0,‡∏Ñ‡∏π‡∏ö‡∏≤‡∏á‡∏´‡∏•‡∏ß‡∏á,3630,‡∏•‡∏≤‡∏î‡∏´‡∏•‡∏∏‡∏°‡πÅ‡∏Å‡πâ‡∏ß,3599,Pathum Thani,12140.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17513,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3656.0,‡∏ö‡∏≤‡∏á‡πÇ‡∏û‡∏ò‡∏¥‡πå‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,3647,‡∏™‡∏≤‡∏°‡πÇ‡∏Ñ‡∏Å,3599,Pathum Thani,12160.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17559,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3656.0,‡∏ö‡∏≤‡∏á‡πÇ‡∏û‡∏ò‡∏¥‡πå‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,3647,‡∏™‡∏≤‡∏°‡πÇ‡∏Ñ‡∏Å,3599,Pathum Thani,12160.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21577,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3634.0,‡∏Ñ‡∏π‡∏ö‡∏≤‡∏á‡∏´‡∏•‡∏ß‡∏á,3630,‡∏•‡∏≤‡∏î‡∏´‡∏•‡∏∏‡∏°‡πÅ‡∏Å‡πâ‡∏ß,3599,Pathum Thani,12140.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
opendata_project = opendata_project.dropna(subset=['longitude'])

In [139]:
# 'subdistrict_id' ‡∏£‡∏´‡∏±‡∏™‡∏ï‡∏≥‡∏ö‡∏•
print(len(opendata_project[opendata_project['subdistrict_id'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['subdistrict_id'])

16

In [140]:
# 'zipcode' ‡∏£‡∏´‡∏±‡∏™‡πÑ‡∏õ‡∏£‡∏©‡∏ì‡∏µ‡∏¢‡πå
print(len(opendata_project[opendata_project['zipcode'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['zipcode'])

28

#### ‚á® fill Null with real world Knownlege

In [141]:
#fill NA with Text
opendata_project['developer_name_en'] = opendata_project['developer_name_en'].fillna('Unknown')
opendata_project['neighborhood_id'] = opendata_project['neighborhood_id'].fillna('Unknown') #‡∏£‡∏´‡∏±‡∏™‡∏¢‡πà‡∏≤‡∏ô 
opendata_project['neighborhood_name_en'] = opendata_project['neighborhood_name_en'].fillna('Unknown')

In [142]:
# ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏•‡∏¥‡∏ü‡∏ï‡πå‡πÅ‡∏•‡∏∞‡∏ä‡∏±‡πâ‡∏ô
opendata_project[['count_floor', 'count_unit','count_unittype']]  = opendata_project[['count_floor', 'count_unit','count_unittype']].fillna(1) #‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ä‡∏±‡πâ‡∏ô‡∏Ç‡∏≠‡∏á‡∏ï‡∏±‡∏ß‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏¢‡∏π‡∏ô‡∏¥‡∏ï‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ö‡∏ö‡πâ‡∏≤‡∏ô‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£
opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service']] = opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service']].fillna(0) 
# ‡∏™‡∏¥‡πà‡∏á‡∏≠‡∏≥‡∏ô‡∏ß‡∏¢‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏∞‡∏î‡∏ß‡∏Å
opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']] = opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']].fillna(0)

In [143]:
opendata_project.isnull().any()

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
price_min                 False
developer_id              False
developer_name_en         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
dtype: bool

In [144]:
# save data
opendata_project.to_csv('opendata_project_clean.csv', index=False)

## üìëopendata_unittype table

In [145]:
opendata_unittype = pd.read_csv('opendata_unittype.csv')
print(opendata_unittype.shape) 
opendata_unittype.head(3)

(43385, 28)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day
0,2032,unittype_19988,project_7861,1 Bedroom,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,31.0,3002000.0,...,NaN,NaN,NaN,NaN,NaN,2022-06-16 14:30:02,2022-06-16 14:15:26,baania,https://baania.com/th/project/‡πÑ‡∏•‡∏ü‡πå-‡∏£‡∏±‡∏ä‡∏î‡∏≤‡∏†‡∏¥‡πÄ‡∏©‡∏Å-...,2022-09-30
1,34437,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,NaN,480.0,1700000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:20,2020-10-14 22:19:25,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏≤‡πÇ‡∏Æ‡∏°-‡∏≠‡∏∏‡∏î‡∏£‡∏ò‡∏≤‡∏ô‡∏µ-...,2022-09-30
2,29002,unittype_18897,project_6287,Studio,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,27.0,400000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:33:39,2021-07-30 12:49:12,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏û‡∏•-‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢...,2022-09-30

### Select columns

In [146]:
opendata_unittype.columns

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype', 'day'],
      dtype='object')

In [147]:
opendata_unittype = opendata_unittype[['unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility']]
opendata_unittype.head()

,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_19988,project_7861,1 Bedroom,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,NaN,NaN,1.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,unittype_18897,project_6287,Studio,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,unittype_39281,project_17150,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,NaN,NaN,1.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,unittype_14987,project_4759,Studio Floor 5,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Missing/Null Checking

In [148]:
opendata_unittype.isnull().any()

unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
dtype: bool

#### ‚á® dropna

In [150]:
# # ' price_min ' ‡∏£‡∏≤‡∏Ñ‡∏≤‡∏ï‡πà‡∏≥‡∏™‡∏∏‡∏î‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£
# print(len(opendata_unittype[opendata_unittype['price_min'].isnull()])) #we used dropna()
# opendata_unittype = opendata_unittype.dropna(subset=['price_min'])

#### ‚á® fill Null with real world Knownlege

In [149]:
#fill NA with Text
opendata_unittype['name_th'] = opendata_unittype['name_th'].fillna('Unknown')

In [151]:
# ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ä‡∏±‡πâ‡∏ô‡πÉ‡∏ô‡∏ö‡πâ‡∏≤‡∏ô
opendata_unittype[['count_floor_internal']]  = opendata_unittype[['count_floor_internal']].fillna(1) 
# ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏´‡πâ‡∏≠‡∏á, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏•‡∏¥‡∏ü‡∏ï‡πå, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏≠‡∏£‡πå
opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]]  = opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]].fillna(0)

In [152]:
opendata_unittype.isnull().any()

unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
count_airconditioner    False
count_elevator          False
count_floor_internal    False
count_parking           False
count_room_bath         False
count_room_bed          False
count_room_dinning      False
count_room_guest        False
count_room_kitchen      False
count_room_living       False
count_room_maid         False
count_room_storage      False
count_room_utility      False
dtype: bool

In [154]:
# save data
opendata_unittype.to_csv('opendata_unittype_clean.csv', index=False)

## üìëopendata_eating_score table

In [156]:
opendata_eating_score = pd.read_csv('opendata_eating_score.csv')
print(opendata_eating_score.shape) 
opendata_eating_score.head(3)

(554, 20)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,2,4001,HUAI KHWANG,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,4000,HUAI KHWANG,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,66.0,72.0,49.0,92.0,75.0,68.0,54.0,94.0,baania,2022-08-31
1,397,2632,THEP KRASATTRI,‡πÄ‡∏ó‡∏û‡∏Å‡∏£‡∏∞‡∏©‡∏±‡∏ï‡∏£‡∏µ,2630,THALANG,‡∏ñ‡∏•‡∏≤‡∏á,2616,Phuket,‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï,35.0,37.0,30.0,45.0,38.0,28.0,28.0,51.0,baania,2022-08-31
2,76,3509,PAK NAM,‡∏õ‡∏≤‡∏Å‡∏ô‡πâ‡∏≥,3499,MUEANG SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,3498,Samut Prakan,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,70.0,84.0,55.0,79.0,65.0,72.0,57.0,67.0,baania,2022-08-31

### Select columns

In [157]:
opendata_eating_score.columns

Index(['row_number', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety', 'source', 'day'],
      dtype='object')

In [158]:
opendata_eating_score = opendata_eating_score[['subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety']]
opendata_eating_score.head()

,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
0,4001,HUAI KHWANG,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,4000,HUAI KHWANG,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,66.0,72.0,49.0,92.0,75.0,68.0,54.0,94.0
1,2632,THEP KRASATTRI,‡πÄ‡∏ó‡∏û‡∏Å‡∏£‡∏∞‡∏©‡∏±‡∏ï‡∏£‡∏µ,2630,THALANG,‡∏ñ‡∏•‡∏≤‡∏á,2616,Phuket,‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï,35.0,37.0,30.0,45.0,38.0,28.0,28.0,51.0
2,3509,PAK NAM,‡∏õ‡∏≤‡∏Å‡∏ô‡πâ‡∏≥,3499,MUEANG SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,3498,Samut Prakan,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,70.0,84.0,55.0,79.0,65.0,72.0,57.0,67.0
3,4628,SAMET,‡πÄ‡∏™‡∏°‡πá‡∏î,4617,MUEANG CHON BURI,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ,4616,Chon Buri,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ,68.0,67.0,56.0,97.0,69.0,41.0,54.0,94.0
4,1166,TON PAO,‡∏ï‡πâ‡∏ô‡πÄ‡∏õ‡∏≤,1164,SAN KAMPHAENG,‡∏™‡∏±‡∏ô‡∏Å‡∏≥‡πÅ‡∏û‡∏á,1005,Chiang Mai,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà,44.0,36.0,47.0,51.0,47.0,22.0,61.0,52.0

### Missing/Null Checking

In [ ]:
opendata_eating_score.isnull().any()

subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
dtype: bool

### Check data type

In [ ]:
opendata_eating_score.dtypes

subdistrict_id                int64
subdistrict_name_en          object
subdistrict_name_th          object
district_id                   int64
district_name_en             object
district_name_th             object
province_id                   int64
province_name_en             object
province_name_th             object
eating_daytime              float64
eating_daytime_price        float64
eating_daytime_quality      float64
eating_daytime_variety      float64
eating_nighttime            float64
eating_nighttime_price      float64
eating_nighttime_quality    float64
eating_nighttime_variety    float64
dtype: object

In [159]:
# save data
opendata_eating_score.to_csv('opendata_eating_score_clean.csv', index=False)

## üìëopendata_living_score table

In [160]:
opendata_living_score = pd.read_csv('opendata_living_score.csv')
print(opendata_living_score.shape) 
opendata_living_score.head(3)

(709, 28)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,source,day
0,634,3410,SANO LOI,‡πÇ‡∏™‡∏ô‡∏•‡∏≠‡∏¢,3402,BANG BUA THONG,‡∏ö‡∏≤‡∏á‡∏ö‡∏±‡∏ß‡∏ó‡∏≠‡∏á,3372,Nonthaburi,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,...,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0,baania,2022-09-30
1,619,3976,TALAT NOI,‡∏ï‡∏•‡∏≤‡∏î‡∏ô‡πâ‡∏≠‡∏¢,3973,SAMPHANTHAWONG,‡∏™‡∏±‡∏°‡∏û‡∏±‡∏ô‡∏ò‡∏ß‡∏á‡∏®‡πå,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,...,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0,baania,2022-09-30
2,284,4669,BAN KAO,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏Å‡πà‡∏≤,4663,PHAN THONG,‡∏û‡∏≤‡∏ô‡∏ó‡∏≠‡∏á,4616,Chon Buri,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ,...,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0,baania,2022-09-30

### Select columns

In [161]:
opendata_living_score.columns

Index(['row_number', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'walk_leisure', 'walk_public_service',
       'walk_school', 'walk_shopping', 'walk_work', 'walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total',
       'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total', 'source', 'day'],
      dtype='object')

In [162]:
opendata_living_score = opendata_living_score[['subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'walk_leisure', 'walk_public_service',
       'walk_school', 'walk_shopping', 'walk_work', 'walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total',
       'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total']]
opendata_living_score.head()

,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,walk_leisure,...,access_boat,access_bus,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total
0,3410,SANO LOI,‡πÇ‡∏™‡∏ô‡∏•‡∏≠‡∏¢,3402,BANG BUA THONG,‡∏ö‡∏≤‡∏á‡∏ö‡∏±‡∏ß‡∏ó‡∏≠‡∏á,3372,Nonthaburi,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,96.0,...,98.0,100.0,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0
1,3976,TALAT NOI,‡∏ï‡∏•‡∏≤‡∏î‡∏ô‡πâ‡∏≠‡∏¢,3973,SAMPHANTHAWONG,‡∏™‡∏±‡∏°‡∏û‡∏±‡∏ô‡∏ò‡∏ß‡∏á‡∏®‡πå,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,100.0,...,100.0,100.0,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0
2,4669,BAN KAO,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏Å‡πà‡∏≤,4663,PHAN THONG,‡∏û‡∏≤‡∏ô‡∏ó‡∏≠‡∏á,4616,Chon Buri,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ,7.0,...,0.0,0.0,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0
3,2647,BAN THUM,‡∏ö‡πâ‡∏≤‡∏ô‡∏ó‡∏∏‡πà‡∏°,2638,MUEANG KHON KAEN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏Ç‡∏≠‡∏ô‡πÅ‡∏Å‡πà‡∏ô,2637,Khon Kaen,‡∏Ç‡∏≠‡∏ô‡πÅ‡∏Å‡πà‡∏ô,11.0,...,0.0,0.0,0.0,0.0,73.0,65.0,73.0,57.0,47.0,62.0
4,3799,RAM INTHRA,‡∏£‡∏≤‡∏°‡∏≠‡∏¥‡∏ô‡∏ó‡∏£‡∏≤,3797,KHAN NA YAO,‡∏Ñ‡∏±‡∏ô‡∏ô‡∏≤‡∏¢‡∏≤‡∏ß,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,89.0,...,1.0,94.0,5.0,39.0,99.0,61.0,99.0,90.0,84.0,89.0

### Missing/Null Checking

In [163]:
opendata_living_score.isnull().any()

subdistrict_id          False
subdistrict_name_en     False
subdistrict_name_th     False
district_id             False
district_name_en        False
district_name_th        False
province_id             False
province_name_en        False
province_name_th        False
walk_leisure            False
walk_public_service     False
walk_school             False
walk_shopping           False
walk_work               False
walk_total              False
access_boat             False
access_bus              False
access_train            False
access_total            False
drive_leisure           False
drive_public_service    False
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
dtype: bool

### Check data type

In [164]:
opendata_living_score.dtypes

subdistrict_id            int64
subdistrict_name_en      object
subdistrict_name_th      object
district_id               int64
district_name_en         object
district_name_th         object
province_id               int64
province_name_en         object
province_name_th         object
walk_leisure            float64
walk_public_service     float64
walk_school             float64
walk_shopping           float64
walk_work               float64
walk_total              float64
access_boat             float64
access_bus              float64
access_train            float64
access_total            float64
drive_leisure           float64
drive_public_service    float64
drive_school            float64
drive_shopping          float64
drive_work              float64
drive_total             float64
dtype: object

In [165]:
# save data
opendata_living_score.to_csv('opendata_living_score_clean.csv', index=False)

# üîóMerge tables

In [170]:
import pandas as pd
opendata_project_clean = pd.read_csv('opendata_project_clean.csv')
opendata_unittype_clean = pd.read_csv('opendata_unittype_clean.csv') #‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏´‡∏•‡∏±‡∏Å
opendata_eating_score_clean = pd.read_csv('opendata_eating_score_clean.csv')
opendata_living_score_clean = pd.read_csv('opendata_living_score_clean.csv')

## 1] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_unittype_clean ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_project_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [171]:
opendata_unittype_clean.columns

Index(['unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility'],
      dtype='object')

In [172]:
opendata_project_clean.columns

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'price_min', 'developer_id', 'developer_name_en', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security'],
      dtype='object')

In [173]:
# select columns 
opendata_unittype_clean = opendata_unittype_clean[['unittype_id', 'project_id', 'name_th', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility']]
opendata_unittype_clean.head(3)

,unittype_id,project_id,name_th,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_19988,project_7861,1 Bedroom,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,unittype_18897,project_6287,Studio,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [174]:
#‡∏û‡∏ö‡∏ß‡πà‡∏≤‡∏ä‡∏∑‡πà‡∏≠ columns ‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô
# count_parking
# count_elevator

#‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠ columns
opendata_unittype_clean.rename(columns={'count_parking': 'count_parking_unittype', 'count_elevator': 'count_elevator_unittype'}, inplace=True)
opendata_unittype_clean.head(3)

,unittype_id,project_id,name_th,count_airconditioner,count_elevator_unittype,count_floor_internal,count_parking_unittype,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_19988,project_7861,1 Bedroom,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,unittype_18897,project_6287,Studio,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [175]:
# merge
table_merge = opendata_project_clean.merge(opendata_unittype_clean, how ='left', left_on='project_id',right_on='project_id') 
print(table_merge.shape)

(54604, 49)

In [ ]:
table_merge.isnull().any()

project_id                 False
name_en                    False
propertytype_id            False
propertytype_name_en       False
price_min                  False
developer_id               False
developer_name_en          False
latitude                   False
longitude                  False
neighborhood_id            False
neighborhood_name_en       False
subdistrict_id             False
subdistrict_name_en        False
subdistrict_name_th        False
district_id                False
district_name_en           False
district_name_th           False
province_id                False
province_name_en           False
province_name_th           False
zipcode                    False
count_elevator             False
count_elevator_service     False
count_floor                False
count_parking              False
count_unit                 False
count_unittype             False
facility_clubhouse         False
facility_fitness           False
facility_meeting           False
facility_park              False
facility_playground        False
facility_pool              False
facility_security          False
unittype_id                False
name_th                    False
count_airconditioner       False
count_elevator_unittype    False
count_floor_internal       False
count_parking_unittype     False
count_room_bath            False
count_room_bed             False
count_room_dinning         False
count_room_guest           False
count_room_kitchen         False
count_room_living          False
count_room_maid            False
count_room_storage         False
count_room_utility         False
dtype: bool

##  2] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_eating_score_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [177]:
table_merge.columns

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'price_min', 'developer_id', 'developer_name_en', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security', 'unittype_id', 'name_th',
       'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility'],
      dtype='object')

In [178]:
opendata_eating_score_clean.columns

Index(['subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety'],
      dtype='object')

In [179]:
# select columns 
opendata_eating_score_clean = opendata_eating_score_clean[['subdistrict_id', 'district_id','province_id', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality','eating_daytime_variety', 'eating_nighttime', 
       'eating_nighttime_price', 'eating_nighttime_quality', 'eating_nighttime_variety']]

In [180]:
len(set(opendata_eating_score_clean['province_id'])) #Location scope - ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û ‡∏õ‡∏£‡∏¥‡∏°‡∏ì‡∏ë‡∏•

10

In [181]:
len(set(table_merge['province_id']))#Location scope - All

72

In [182]:
# merge
table_merge2 = table_merge.merge(opendata_eating_score_clean, how ='left', left_on=['subdistrict_id','district_id','province_id',], right_on=['subdistrict_id','district_id','province_id',]) 
print(table_merge2.shape)

(54604, 57)

#### Missing/Null Checking

In [183]:
table_merge2.isnull().any()

project_id                  False
name_en                     False
propertytype_id             False
propertytype_name_en        False
price_min                   False
developer_id                False
developer_name_en           False
latitude                    False
longitude                   False
neighborhood_id             False
neighborhood_name_en        False
subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
zipcode                     False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
count_unit                  False
count_unittype              False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
name_th                     False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime               True
eating_daytime_price         True
eating_daytime_quality       True
eating_daytime_variety       True
eating_nighttime             True
eating_nighttime_price       True
eating_nighttime_quality     True
eating_nighttime_variety     True
dtype: bool

In [184]:
# ' eating_daytime ' ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô ‡∏î‡πâ‡∏≤‡∏ô‡∏£‡∏≤‡∏Ñ‡∏≤ ‡∏ä‡πà‡∏ß‡∏á‡∏Å‡∏•‡∏≤‡∏á‡∏ß‡∏±‡∏ô
print(len(table_merge2[table_merge2['eating_daytime'].isnull()]))

11170

In [185]:
len(table_merge2) #‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î

54604

In [186]:
#we used fill Null with 0 
table_merge2 = table_merge2.fillna(0)

In [187]:
table_merge2.isnull().any()

project_id                  False
name_en                     False
propertytype_id             False
propertytype_name_en        False
price_min                   False
developer_id                False
developer_name_en           False
latitude                    False
longitude                   False
neighborhood_id             False
neighborhood_name_en        False
subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
zipcode                     False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
count_unit                  False
count_unittype              False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
name_th                     False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
dtype: bool

##  3] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge2 ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_living_score_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [188]:
table_merge2.columns

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'price_min', 'developer_id', 'developer_name_en', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security', 'unittype_id', 'name_th',
       'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety'],
      dtype='object')

In [189]:
opendata_living_score_clean.columns

Index(['subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total'],
      dtype='object')

In [190]:
# select columns 
opendata_living_score_clean = opendata_living_score_clean[['subdistrict_id', 
       'district_id','province_id', 'walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total']]

In [191]:
len(set(opendata_living_score_clean['province_id'])) #Location scope - ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û ‡∏õ‡∏£‡∏¥‡∏°‡∏ì‡∏ë‡∏•

18

In [192]:
len(set(table_merge2['province_id'])) #Location scope - All

72

In [193]:
# merge
table_merge3 = table_merge2.merge(opendata_living_score_clean, how ='left', left_on=['subdistrict_id','district_id','province_id',], right_on=['subdistrict_id','district_id','province_id',]) 
print(table_merge3.shape)

(54604, 73)


#### Missing/Null Checking

In [194]:
table_merge3.isnull().any()

project_id              False
name_en                 False
propertytype_id         False
propertytype_name_en    False
price_min               False
                        ...
drive_public_service     True
drive_school             True
drive_shopping           True
drive_work               True
drive_total              True
Length: 73, dtype: bool

In [195]:
# ' eating_daytime ' ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô ‡∏î‡πâ‡∏≤‡∏ô‡∏£‡∏≤‡∏Ñ‡∏≤ ‡∏ä‡πà‡∏ß‡∏á‡∏Å‡∏•‡∏≤‡∏á‡∏ß‡∏±‡∏ô
print(len(table_merge3[table_merge3['walk_public_service'].isnull()]))

5362

In [196]:
#we used fill Null 
table_merge3 = table_merge3.fillna(0)

In [197]:
table_merge3.isnull().any()

project_id              False
name_en                 False
propertytype_id         False
propertytype_name_en    False
price_min               False
                        ...
drive_public_service    False
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
Length: 73, dtype: bool

In [198]:
table_merge3

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,developer_id,developer_name_en,latitude,longitude,neighborhood_id,...,access_boat,access_bus,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total
0,project_4270,Paholyothin Park Condominium,2,Condo,3650000.0,developer_10510,Unknown,13.786388,100.553931,B1161,...,100.0,100.0,44.0,89.0,100.0,89.0,100.0,99.0,95.0,98.0
1,project_4270,Paholyothin Park Condominium,2,Condo,3650000.0,developer_10510,Unknown,13.786388,100.553931,B1161,...,100.0,100.0,44.0,89.0,100.0,89.0,100.0,99.0,95.0,98.0
2,project_15158,The Chill Village,3,Townhome,2450000.0,developer_10510,Unknown,16.209059,103.288288,Unknown,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",13.173645,100.954876,B0752,...,0.0,0.0,0.0,0.0,73.0,78.0,70.0,80.0,82.0,78.0
4,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",13.173645,100.954876,B0752,...,0.0,0.0,0.0,0.0,73.0,78.0,70.0,80.0,82.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54599,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",13.993865,100.662066,B0967,...,0.0,100.0,0.0,40.0,100.0,100.0,99.0,100.0,99.0,100.0
54600,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",13.993865,100.662066,B0967,...,0.0,100.0,0.0,40.0,100.0,100.0,99.0,100.0,99.0,100.0
54601,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",13.993865,100.662066,B0967,...,0.0,100.0,0.0,40.0,100.0,100.0,99.0,100.0,99.0,100.0
54602,project_7949,The Tropical Condominium,2,Condo,999000.0,developer_5477,Unknown,13.707605,100.610161,B1049,...,87.0,92.0,39.0,80.0,97.0,64.0,99.0,86.0,95.0,88.0
54603,project_7949,The Tropical Condominium,2,Condo,999000.0,developer_5477,Unknown,13.707605,100.610161,B1049,...,87.0,92.0,39.0,80.0,97.0,64.0,99.0,86.0,95.0,88.0

In [199]:
# save data
table_merge3.to_csv('Residental_clean.csv', index=False)